<header class="header">
  <div class="container">
    <a href="#">
      <img src="assets/images/logo.png" alt="logo">
    </a>
    <nav class="menu" id="menu">
      <div class="close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
          <g>
            <g>
              <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z" />
            </g>
          </g>
        </svg>
      </div>
      <ul>
        <li>
          <a href="#products">Пироженки</a>
        </li>
        <li>
          <a href="#about">О нас</a>
        </li>
        <li>
          <a href="#order">Оформить заказ</a>
        </li>
      </ul>
    </nav>
    <span>{{phone}}</span>
    <div class="burger" id="burger">
      <img src="assets/images/burger.png" alt="menu">
    </div>
  </div>

</header>
<section class="main">
  <div class="container">

    <div class="main-text">
      <h1>Мягкие французские пироженки Macaroons</h1>
      <div class="main-text-description">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <button class="button" (click)="scrollTo(productsElement)"> Выбрать макарун </button>
    </div>
    <div class="main-image">
      <img src="assets/images/many-macaroons.png" alt="">
    </div>
  </div>
</section>
<section class="advantages" id="about">
  <div class="container">
    <div class="advantages-description">
      <div class="advantages-description-text">
        <h2>Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет</h2>
        <div>Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
          маргарина, разрыхлителей и улучшителей муки.</div>
      </div>

      <img src="assets/images/big-macaroon.png" alt="Big macaroon">

    </div>
    <div class="advantages-items">
      <div class="advantages-item" *ngFor="let advantage of advantages">
        <div class="advantages-item-icon">

          <span class="advantage-number">{{ advantage.number }}</span>
        </div>
        <div class="advantages-item-text">
          <div class="advantages-item-text-title">
            {{advantage.title}}
          </div>
          <div class="advantages-item-text-description">
            {{advantage.description}}</div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="products" id="products" #productsElement>
  <div class="container">
    <div class="products-title">
      Выберите свой макарун
    </div>
    <div class="products-items">
      <div class="product-item" *ngFor="let product of products">
        <img src="assets/images/{{product.image}}" alt="Macaroon">
        <span>{{product.title}}</span>
        <div class="product-item-lots">
          <div class="product-item-lot">
            <div>1 шт.</div>
            <div>{{product.price}} руб.</div>
          </div>
          <button class="button" (click)="addToCard(product, order)">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="order" id="order" #order>
  <div class="container">
    <div class="order-image">
      <img src="assets/images/macarons.png" alt="Macaroons">
    </div>
    <div class="order-form">
      <h2>Закажите макарун!</h2>
      <div class="order-form-description">Выберите понравившийся макарун, заполните форму и ожидайте звонка
        нашего пекаря!</div>
      <div>
        <div class="order-form-choice-title">Ваш выбор</div>
        <div>
          <input type="text" class="order-form-choice-input" [(ngModel)]="formValues.productTitle"
            placeholder="Напишите, что хотите заказать...">
        </div>
      </div>
      <div>
        <div class="order-form-choice-title">Заполните данные для заказа</div>
        <div>
          <input type="text" class="order-form-choice-input" placeholder="Ваше имя">
        </div>
        <div>
          <input type="text" class="order-form-choice-input" placeholder="+375(__) ___ - __ - __">
        </div>
        <button class="button button-down">Оформить заказ</button>
      </div>
      <div class="strawberry-right">
        <img src="assets/images/strawberry.png" alt="Strawberry">
      </div>
    </div>
    <div class="strawberry-left">
      <img src="assets/images/strawberry1.png" alt="Strawberry">
    </div>

  </div>


</section>

<footer class="footer">
  <div class="container">
    <div class="rights">
      <a href="#"> <img src="assets/images/logo.png" alt="logo"></a>
      <div>Все права защищены, 2020</div>

    </div>

    <div class="insta">
      <img src="assets/images/instagram.png" alt="instagram">
      <div>{{instagram}}</div>
    </div>
    <span>{{phone}}</span>
  </div>
</footer>
<div class="present">
  <div class="present-order" *ngIf="showPresent">
    <div class="present-order-text">
      Оформите заказ
      и получите подарок!
    </div>
    <div class="present-frame"></div>
  </div>
  <div class="present-image" (mouseenter)="showPresent = true" (mouseleave)="showPresent = false">
    <img src="assets/images/present.png" alt="present">
  </div>
</div>